/* Page Headers */

#main-header{
    text-align: center;
    background: rgba(233, 230, 230, 0.8);
    color: #000000;
}

/* Navbar elements */

.navbar {
    /* border: 1px solid rgb(210, 105, 30); */
    margin: 5px 25px 10px ;
    position: relative;
    height: 35px;
    background-color: black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 5px;
}

.button-nav {
    display: inline;  
}

.button-nav a {
    border-left: 1.5px solid blue;
    border-bottom: 1.5px solid blue;
    padding: 4px 6px;
    text-align: center;
    background-color: black;
    color: orangered;
    font-size: 18px;
}

.button-nav a:hover {
    background-color: orangered;
    color: blue;
}

.nav-left {
    display: inline;
    position: absolute;
    left: 4px;
}

.nav-right {
    display: inline;
    position: absolute;
    right: 4px;
}

.nav-right li {
    margin-left: 2px;
    padding-left: 6px;
    
}

/* MainPage*/
#main-body {
    background-image: url("../images/quill.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

aside {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

/* Notepad */
.notepad:nth-child(odd) {
    display: block;
    height: 150px;
    width: 150px;
    padding: 1em;
    margin: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    transform: rotate(5deg);
    /* background-color: rgb(253, 253, 17); */
    background-color: #ffc;
}

.notepad:nth-child(even) {
    display: block;
    height: 150px;
    width: 150px;
    padding: 1em;
    margin: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    transform: rotate(-2deg);
    /* background-color: rgb(253, 253, 17); */
    background-color: #ffc;
}

.notepad:nth-child(odd):hover {
    transform: rotate(-5deg)
}

.notepad:nth-child(even):hover {
    transform: rotate(5deg)
}

.notepad h5 {
    width: 80%;
    margin: auto;
}
.notepad li {
    margin-left: -2em;
    margin-bottom: 3px;
    list-style: none;
    font-size: 80%;
}

/* Paper */

.notebookpaper {
    display: inline-block;
    background-color: #f5f5f5; 
    width: 601px;
    margin: 2px 15px 30px 2px;
    padding: 0;
    position: relative;
    top: 10px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
}

.notebookpaper h4 {
    color: #E76814;
    margin: 30px 0px 17px 0px;
    font-size: 30px;
    letter-spacing: -1px;
    text-align: center;
}

.notebookpaper-list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 599px;
    height: 100%;
    margin: 0;
    font-family: courier, monospace;
    border: 1px solid #dedede; 
}

.notebookpaper-list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: 15px;
    padding: 10px;
    /* text-transform: capitalize; */
}

.notebookpaper-list li:hover {
    background-color: #f0f0f0;
}

.notebookpaper-lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 614px;
    margin-left: 40px;
}
