/* Universal */
/* Page Headers */

#main-header{
    text-align: center;
    background: rgba(233, 230, 230, 0.8);
    color: #000000;
}

/* Navbar elements */

.navbar {
    /* border: 1px solid rgb(210, 105, 30); */
    margin: 5px 25px 10px ;
    position: relative;
    height: 35px;
    background-color: black;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 5px;
}

.button-nav {
    display: inline;  
}

.button-nav a {
    border-left: 1.5px solid blue;
    border-bottom: 1.5px solid blue;
    padding: 4px 6px;
    text-align: center;
    background-color: black;
    color: orangered;
    font-size: 18px;
}

.button-nav a:hover {
    background-color: orangered;
    color: blue;
}

.nav-left {
    display: inline;
    position: absolute;
    left: 4px;
}

.nav-right {
    display: inline;
    position: absolute;
    right: 4px;
}

.nav-right li {
    margin-left: 2px;
    padding-left: 6px;
    
}

/* Body/HTML */

height, body {
    height: 100%;
}
body {
    overflow: scroll;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }

  .page-wrap:after {
    content: "";
    display: block;
  }

/* Body-Backgrounds */

#main-body {
    background-image: url("../images/quill.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bio-body {
    background-image: url("../images/NightSky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

#moreme-body {
    background-image: url("../images/cycling.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* Footer */

footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    margin-top: 1px;
    background-color: rgba(255, 255, 255, 0.898);
    color: black;
    text-align: center;
    border-top: 2px ridge black 
}

#moreme-footer {
    color: rgba(20, 19, 19, 0.782);
}

#bio-footer {
    color: rgba(160, 42, 42, 0.456);
}

/* Paragraph-Indent */

p.indent { padding-left: 1.8em }

/* MainPage */

/* Notepad */

.notepads {
    display: inline-block;
    position: relative;
}

.notepad:nth-child(odd) {
    display: block;
    height: 150px;
    width: 150px;
    padding: 1em;
    margin: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    transform: rotate(5deg);
    /* background-color: rgb(253, 253, 17); */
    background-color: #ffc;
}

.notepad:nth-child(even) {
    display: block;
    height: 150px;
    width: 150px;
    padding: 1em;
    margin: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    transform: rotate(-2deg);
    /* background-color: rgb(253, 253, 17); */
    background-color: #ffc;
}

.notepad:nth-child(odd):hover {
    transform: rotate(-5deg)
}

.notepad:nth-child(even):hover {
    transform: rotate(5deg)
}

.notepad h5 {
    width: 80%;
    margin: auto;
}
.notepad li {
    margin-left: -2em;
    margin-bottom: 3px;
    list-style: none;
    font-size: 80%;
}

/* Paper */

.notebookpaper {
    display: inline-block;
    vertical-align: top;
    background-color: #f5f5f5; 
    width: 601px;
    margin: 2px 15px 30px 2px;
    padding: 0;
    position: relative;
    top: 10px;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
}

.notebookpaper h4 {
    color: #E76814;
    margin: 30px 0px 17px 0px;
    font-size: 30px;
    letter-spacing: -1px;
    text-align: center;
}

.notebookpaper-list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 599px;
    height: 100%;
    margin: 0;
    font-family: courier, monospace;
    border: 1px solid #dedede; 
}

.notebookpaper-list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: 15px;
    padding: 10px;
    /* text-transform: capitalize; */
}

.notebookpaper-list li:hover {
    background-color: #f0f0f0;
}

.notebookpaper-lines {
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    float: left;
    height: 614px;
    margin-left: 40px;
}

/* Bio-Page */

/* Info-Cards */

.bio-info-card-ar {
    width: 80%;
    height: 260px;
    margin: 0 auto 30px auto;
    padding: auto;
    background: rgba(54, 4, 4, 0.22);
    color: #CEC7C7;
    overflow: auto;
}

.bio-info-card-ar a:visited {
    color: white;
}

#card-article-left {
    display: inline-block;
    max-width: 60%;
    max-height: 98%;
    margin: auto;
    padding:.5em;
    word-wrap: break-word;
}

#card-aside-right {
    display: inline-block;
    max-width: 30%;
    max-height: 98%;
    align-self: auto;
    right: 2;
    /* vertical-align: middle; */
    /* right: 0; */
    /* border-left: 2px solid white; */
}

#authograph-img {
    display: block;
    margin: auto;
    max-width: 98%;
    /* max-height: 100%; */
}

.bio-info-card-al {
    width: 80%;
    height: 260px;
    margin: 30px auto 0 auto;
    background: rgba(54, 4, 4, 0.22);
    color: #CEC7C7;
}

#card-article-right {
    display: inline-block;
}

#card-aside-left {
    display: inline-block;
    width: 33%;
    border-right: 2px solid white;
}

/* More Me / Blog */

.blog-post-container {
    width: 80%;
    margin: .5em auto 1em auto;
    padding: .5em;
    background: rgba(233, 236, 232, 0.65);
}

.blog-title {
    color: rgba(33, 33, 33, 1)
}

.blog-date {
    color: rgba(33, 33, 33, 1)

}

.blog-main-text {
    color: rgba(33, 33, 33, 1)
}
